.footer {
    background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer::before {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(0, 0, 36, 0.80);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer p {
    position: relative;
    color: #fff;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}
